.contributors {
  margin-top: 2rem;
  min-height: 50px;
  &.large {
    min-height: 80px;
    .avatar{
      width: 48px;
      height: 48px;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }
  h3 {
    margin-bottom: 1rem;
  }
  .avatar {
    display: inline-block;
    background-size: contain;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}