.bg-iframe {
  position: relative;
  &.empty {
    font-size: 14px;
    text-align: center;
    line-height: 100px;
    border: 1px dashed #ccc;
  }
  .loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 20px;
    color: #666;
    text-align: center;
    line-height: 400px;
    background: #ffffff;
  }
}